{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>
        {% trans "Welcome to our page!!" %}
    </p>
    <p>
        {% trans "Welcome to our page!!" %}{{ weekday }}
    </p>
{#    {% get_available_languages as LANGUAGES %}#}
{#    {% get_language_info_list for LANGUAGES as langs %}#}

{% for lang in LANGUAGES %}
    <p>{{ lang.0 }} {{ lang.1 }}</p>
{% endfor %}

<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}" />
    <select name="language">
    {% for lang in LANGUAGES %}
        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>
</body>
</html>